.pokemonMoveList{
  float:left;
  width: 200px;
}
.pokemonImg{
  float:left;
}

.pokemonImg img{
  width: 300px;
  height: 300px;
}
.pokemonDetails{
  display: flex;
}
.pokemonMoveList{
  height:500px;
  overflow-y: scroll;
  padding-left: 10px;
}
.pokemonAbilityList{
  margin-bottom: 10px;
  height:100px;
  width: 200px;
}
.pokemonStatsList{
  height:250px;
  width: 200px;
  margin-bottom: 10px;
}
.pokemonTypeList{
  margin-bottom: 10px;
  display: inline-flex;
}
.pokemonTypeList h6{
  margin-right: 10px;
}
.imageDesign{
  display:block;
}
