.pokemon{
  display:flex;
  border-bottom: solid;
  border-right: solid;
  border-width: 0 1px 2px 0;
   align-items:center;
  margin-top: 5px;
  margin-bottom:3px;
  border-style: outset;
}

.deets{
  float: right;
  margin-left: 15px;
}
.all{
  display: flex;
}
.holder{
  overflow-y: scroll;
  height: 520px;
}
.type img{
  width: 70px;
  height: 17px;
}
table, td {
   border: 1px solid black;
   border-width: 100%;
   width: 100%;
}
