.type {
  display: inline;
  padding-left: 5px; 
  }

.all {
  width: 75%;
  float: left;
  margin-left: 100px; 
  }

.one {
  float: left; 
  }

.one sprite {
  width: 250px; 
  }

.two {
  float: left;
  display: inline-flex;
  margin-left: 90px; 
  }

.two table {
  text-align: left;
  float: left;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px; 
  }

.moverow {
  float: left;
  overflow-y: scroll;
  margin-left: 30px;
  height: 370px;
  width: 300px;
  min-width: 200px; 
  }
