.type{
  display: inline;
  padding-left: 5px;
}
.all{
  width: 75%;
  float: left;
}
.one{
  float: left;
  width: 50;
}
.two{
  float: left;
  padding-left: 20px;
  display: inline-flex;
}
.two table{
  text-align: left;
  float:left;
  width: 100%;
}
.moverow{
  float: left;
  overflow-y: scroll;
  margin-left: 10px;
  height: 370px;
  width: 300px
}
