.pokemon {
  display: flex;
  border-bottom: solid;
  border-right: solid;
  border-width: 0 1px 2px 0;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 3px;
  border-style: outset; }

.allPokemon {
  width: 20%; }

.deets {
  float: left;
  width: 80%;
  display: flex; }

.all {
  display: flex; }

.holder {
  overflow-y: scroll;
  height: 520px;
  width: 200px; }

.type img {
  width: 70px;
  height: 17px; }

table {
  border: 1px solid black;
  border-width: 100%;
  width: 100%; }

@media screen and (max-width: 750px) {
  .deets {
    float: left;
    clear: both;
    display: table-column-group; }
  .all {
    display: table; }
  .pokemon {
    display: flex; }
  .holder{
    height: 300px;
    }
  .allPokemon{
    height: 300px;
    }}
