.moves {
  display: flex;
  border-bottom: solid;
  border-right: solid;
  border-width: 0 1px 2px 0;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 3px;
  border-style: outset; }

.allMoves {
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  min-width: 200px; }

.all {
  width: 100%; }

@media screen and (max-width: 750px) {
  .allMoves {
    height: 300px; } }
